doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
        title Carousel Template for Bootstrap

        // Bootstrap core CSS
        link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')

        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
              script(src='#{pathToAssets}/assets/js/html5shiv.js')
              script(src='#{pathToAssets}/assets/js/respond.min.js')

        // Custom styles for this template
        link(href='#{pathToSelectedTemplateWithinBootstrap}/carousel.css', rel='stylesheet')
    //
        NAVBAR
    body
        .navbar-wrapper
            .container
                .navbar.navbar-inverse.navbar-static-top
                    .container
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#') Project name
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href='#') Home
                                li
                                    a(href='#about') About
                                li
                                    a(href='#contact') Contact
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        | Dropdown
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='#') Action
                                        li
                                            a(href='#') Another action
                                        li
                                            a(href='#') Something else here
                                        li.divider
                                        li.dropdown-header Nav header
                                        li
                                            a(href='#') Separated link
                                        li
                                            a(href='#') One more separated link
        //
            Carousel
        #myCarousel.carousel.slide
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner
                .item.active
                    img(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/100%x500/auto/#777:#7a7a7a/text:First slide', alt='First slide')
                    .container
                        .carousel-caption
                            h1 Example headline.
                            p
                                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            p
                                a.btn.btn-large.btn-primary(href='#') Sign up today
                .item
                    img(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide', alt='Second slide')
                    .container
                        .carousel-caption
                            h1 Another example headline.
                            p
                                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            p
                                a.btn.btn-large.btn-primary(href='#') Learn more
                .item
                    img(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide', alt='Third slide')
                    .container
                        .carousel-caption
                            h1 One more for good measure.
                            p
                                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            p
                                a.btn.btn-large.btn-primary(href='#') Browse gallery
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#myCarousel', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
            // /.carousel
        //
            Marketing messaging and featurettes

        // Wrap the rest of the page in another container to center all the content.
        .container.marketing

            // Three columns of text below the carousel
            .row
                .col-lg-4
                    img.img-circle(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/140x140', alt='Generic placeholder image')
                    h2 Heading
                    p
                        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
                    p
                        a.btn.btn-default(href='#') View details »
                // /.col-lg-4

                .col-lg-4
                    img.img-circle(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/140x140', alt='Generic placeholder image')
                    h2 Heading
                    p
                        | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                    p
                        a.btn.btn-default(href='#') View details »
                // /.col-lg-4

                .col-lg-4
                    img.img-circle(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/140x140', alt='Generic placeholder image')
                    h2 Heading
                    p
                        | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    p
                        a.btn.btn-default(href='#') View details »
                // /.col-lg-4
            // /.row

            // START THE FEATURETTES
            hr.featurette-divider
            .row.featurette
                .col-md-7
                    h2.featurette-heading
                        | First featurette heading.
                        span.text-muted It'll blow your mind.
                    p.lead
                        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                .col-md-5
                    img.featurette-image.img-responsive(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/500x500/auto', alt='Generic placeholder image')
            hr.featurette-divider
            .row.featurette
                .col-md-5
                    img.featurette-image.img-responsive(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/500x500/auto', alt='Generic placeholder image')
                .col-md-7
                    h2.featurette-heading
                        | Oh yeah, it's that good.
                        span.text-muted See for yourself.
                    p.lead
                        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            hr.featurette-divider
            .row.featurette
                .col-md-7
                    h2.featurette-heading
                        | And lastly, this one.
                        span.text-muted Checkmate.
                    p.lead
                        | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                .col-md-5
                    img.featurette-image.img-responsive(src='data:image/png;base64,', data-src='#{pathToAssets}/assets/js/holder.js/500x500/auto', alt='Generic placeholder image')
            hr.featurette-divider
            // /END THE FEATURETTES

            // FOOTER
            footer
                p.pull-right
                    a(href='#') Back to top
                p
                    | © 2013 Company, Inc. ·
                    a(href='#') Privacy
                    | ·
                    a(href='#') Terms
        // /.container
        //
            Bootstrap core JavaScript


        // Placed at the end of the document so the pages load faster
        script(src='#{pathToAssets}/assets/js/jquery.js')
        script(src='#{pathToAssets}/dist/js/bootstrap.min.js')
        script(src='#{pathToAssets}/assets/js/holder.js')
