doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title Grid Template for Bootstrap
    // Bootstrap core CSS
    link(href='#{pathToAssets}/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='#{pathToSelectedTemplateWithinBootstrap}/grid.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='#{pathToAssets}/docs/assets/js/ie8-responsive-file-warning.js')
    script(src='#{pathToAssets}/docs/assets/js/ie-emulation-modes-warning.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='#{pathToAssets}/docs/assets/js/ie10-viewport-bug-workaround.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .container
      .page-header
        h1 Bootstrap grid examples
        p.lead
          | Basic grid layouts to get you familiar with building within the Bootstrap grid system.
      h3 Three equal columns
      p
        | Get three equal-width columns 
        strong starting at desktops and scaling to large desktops
        | . On mobile devices, tablets and below, the columns will automatically stack.
      .row
        .col-md-4 .col-md-4
        .col-md-4 .col-md-4
        .col-md-4 .col-md-4
      h3 Three unequal columns
      p
        | Get three columns 
        strong starting at desktops and scaling to large desktops
        |  of various widths. Remember, grid columns should add up to twelve for a single horizontal block. More than that, and columns start stacking no matter the viewport.
      .row
        .col-md-3 .col-md-3
        .col-md-6 .col-md-6
        .col-md-3 .col-md-3
      h3 Two columns
      p
        | Get two columns 
        strong starting at desktops and scaling to large desktops
        | .
      .row
        .col-md-8 .col-md-8
        .col-md-4 .col-md-4
      h3 Full width, single column
      p.text-warning No grid classes are necessary for full-width elements.
      hr
      h3 Two columns with two nested columns
      p
        | Per the documentation, nesting is easy&mdash;just put a row of columns within an existing column. This gives you two columns 
        strong starting at desktops and scaling to large desktops
        | , with another two (equal widths) within the larger column.
      p
        | At mobile device sizes, tablets and down, these columns and their nested columns will stack.
      .row
        .col-md-8
          | .col-md-8
          .row
            .col-md-6 .col-md-6
            .col-md-6 .col-md-6
        .col-md-4 .col-md-4
      hr
      h3 Mixed: mobile and desktop
      p
        | The Bootstrap 3 grid system has four tiers of classes: xs (phones), sm (tablets), md (desktops), and lg (larger desktops). You can use nearly any combination of these classes to create more dynamic and flexible layouts.
      p
        | Each tier of classes scales up, meaning if you plan on setting the same widths for xs and sm, you only need to specify xs.
      .row
        .col-xs-12.col-md-8 .col-xs-12 .col-md-8
        .col-xs-6.col-md-4 .col-xs-6 .col-md-4
      .row
        .col-xs-6.col-md-4 .col-xs-6 .col-md-4
        .col-xs-6.col-md-4 .col-xs-6 .col-md-4
        .col-xs-6.col-md-4 .col-xs-6 .col-md-4
      .row
        .col-xs-6 .col-xs-6
        .col-xs-6 .col-xs-6
      hr
      h3 Mixed: mobile, tablet, and desktop
      p
      .row
        .col-xs-12.col-sm-6.col-lg-8 .col-xs-12 .col-sm-6 .col-lg-8
        .col-xs-6.col-lg-4 .col-xs-6 .col-lg-4
      .row
        .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
        .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
        .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
      hr
      h3 Column clearing
      p
        a(href='http://getbootstrap.com/css/#grid-responsive-resets') Clear floats
        |  at specific breakpoints to prevent awkward wrapping with uneven content.
      .row
        .col-xs-6.col-sm-3
          | .col-xs-6 .col-sm-3
          br
          |           Resize your viewport or check it out on your phone for an example.
        .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
        // Add the extra clearfix for only the required viewport
        .clearfix.visible-xs
        .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
        .col-xs-6.col-sm-3 .col-xs-6 .col-sm-3
      hr
      h3 Offset, push, and pull resets
      p Reset offsets, pushes, and pulls at specific breakpoints.
      .row
        .col-sm-5.col-md-6 .col-sm-5 .col-md-6
        .col-sm-5.col-sm-offset-2.col-md-6.col-md-offset-0 .col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0
      .row
        .col-sm-6.col-md-5.col-lg-6 .col-sm-6 .col-md-5 .col-lg-6
        .col-sm-6.col-md-5.col-md-offset-2.col-lg-6.col-lg-offset-0 .col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0
    // /container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
