doctype 5
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
    title Narrow Jumbotron Template for Bootstrap
    //
       Bootstrap core CSS 
    link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')
    //
       Custom styles for this template 
    link(href='#{pathToSelectedTemplateWithinBootstrap}/jumbotron-narrow.css', rel='stylesheet')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='#{pathToAssets}/assets/js/html5shiv.js')
      script(src='#{pathToAssets}/assets/js/respond.min.js')
  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
        h3.text-muted Project name
      .jumbotron
        h1 Jumbotron heading
        p.lead
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-lg.btn-success(href='#') Sign up today
      .row.marketing
        .col-lg-6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
        .col-lg-6
          h4 Subheading
          p
            | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          h4 Subheading
          p
            | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          h4 Subheading
          p Maecenas sed diam eget risus varius blandit sit amet non magna.
      .footer
        p &copy; Company 2013
    //
       /container 
    //
       Bootstrap core JavaScript
    // ==================================================
    //
       Placed at the end of the document so the pages load faster 
