doctype 5
html(lang='en')
head
    meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name='copyright', content='Copyright (c) 2013 ALT-F1, We believe in the projects we work on™')
        link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
        title Starter Template for Bootstrap
    //
           Bootstrap core CSS
        link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')
    //
           Custom styles for this template
        link(href='#{pathToSelectedTemplateWithinBootstrap}/starter-template.css', rel='stylesheet')
    //
           HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
          script(src='#{pathToAssets}/assets/js/html5shiv.js')
          script(src='#{pathToAssets}/assets/js/respond.min.js')
body
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Project name
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
//
          /.nav-collapse
    .container
        .starter-template
            h1 Bootstrap starter template
            p.lead
                | Use this document as a way to quickly start any new project.
                br
                | All you get is this text and a mostly barebones HTML document.
//
       /.container
//
       Bootstrap core JavaScript

//
       Placed at the end of the document so the pages load faster
script(src='#{pathToAssets}/assets/js/jquery.js').
script(src='#{pathToAssets}/dist/js/bootstrap.min.js')